<div class="movie-view-container">
  <h1></h1>
  <div class="movie-container">
    <mat-card *ngFor="let movie of movies; let i = index;">
      <!-- Movie Image -->
      <img mat-card-image [src]="movie.ImagePath" alt="{{ movie.Title }}" />

      <!-- Movie Title -->
      <mat-card-content class="movie-title">
        <h3>{{ movie.Title }}</h3>
      </mat-card-content>

      <!-- Action Buttons -->
      <mat-card-actions>
        <button mat-button color="primary" (click)="openGenreDialog(movie.Genre)">Genre</button>
        <button mat-button color="primary" (click)="openDirectorDialog(movie.Director)">Director</button>
        <button mat-button color="primary" (click)="openMovieDetailsDialog(movie)">Description</button>
        <button mat-icon-button (click)="toggleFavorite(movie._id)">
          <mat-icon *ngIf="isFavorite(movie._id)" color="warn">favorite</mat-icon>
          <mat-icon *ngIf="!isFavorite(movie._id)">favorite_border</mat-icon>
        </button>
      </mat-card-actions>
    </mat-card>
  </div>
</div>
