<div class="profile-container">
  <mat-card class="profile-card">
    <mat-card-title>User Profile</mat-card-title>

    <mat-form-field appearance="outline">
      <mat-label>Username</mat-label>
      <input matInput [(ngModel)]="updatedUser.Username" />
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Email</mat-label>
      <input matInput type="email" [(ngModel)]="updatedUser.Email" />
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Birthday</mat-label>
      <input matInput type="date" [(ngModel)]="updatedUser.Birthday" />
    </mat-form-field>

    <button mat-raised-button class="update-profile-btn" (click)="updateUser()">
      Update Profile
    </button>
    
    <button mat-raised-button class="delete-account-btn" (click)="deleteUser()">
      Delete Account
    </button>
    
  </mat-card>

  
  <mat-card class="favorite-movies-card">
    <mat-card-title>Favorite Movies</mat-card-title>
    <div class="favorite-movie-container">
      <mat-card *ngFor="let movie of favoriteMovies" class="favorite-movie-card">
        
        
        <mat-icon class="trash-icon" (click)="removeFromFavorites(movie._id)">delete</mat-icon>
        
        <img mat-card-image [src]="movie.ImagePath" alt="{{ movie.Title }}" />

        <mat-card-content>
          <h3>{{ movie.Title }}</h3>
        </mat-card-content>
      </mat-card>
    </div>
  </mat-card>
</div>
